<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
  	  namespace:命名空间,接口的全路径
   -->
<mapper namespace="com.csy.mapper.CallMapper">
	 <!-- 登陆 -->
	  <select id="loginCall" parameterType="com.csy.pojo.Call" resultType="call">
	  select * from `call` where name=#{name} and pwd=#{pwd}
	  </select>
	 <!-- 通过id查询 -->
	  <select id="getCallById" parameterType="com.csy.pojo.Call" resultType="call">
	  select * from `call` where id=${id}
	  </select>
 	 <!-- 查询所有用户信息 -->
 	 <select id="findCall"  resultType="call">
 	 		select * from `call`
 	 			<where>
		<if test="id!=null and id!=''">
		and	id = #{id}
		</if>		 	
		<if test="name!=null and name!=''">
			and name like concat('%',#{name},'%')
		</if>
	</where>
 	 </select>
 	 <!--  更新  -->
 	 <update id="updateCall" parameterType="call">
 	 UPDATE `call` SET
 	  name=#{name},
 	  pwd=#{pwd},
 	  tel=#{tel},
 	  site=#{site} 
 	  where id=#{id}
 	 </update>
 	 <insert id="insertCall" parameterType="call">
 	 INSERT `call` VALUES(
 	 NULL,
 	 #{name},
 	 #{pwd},
 	 #{tel},
 	 #{site},
 	 DEFAULT
 	 )
 	 </insert>
 	 <delete id="deleteCall" parameterType="call">
 	 DELETE FROM `call` where id=#{id}
 	 </delete>
 	 <select id="selectCallIsManager" resultType="call">
 	SELECT id  FROM `call` WHERE ismanager=0;
 	 </select>
 	 
</mapper>
